@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family:"Raleway", sans-serif;
    color: #525252;
    user-select: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.metronome{
    display: flex;
    flex-direction: colum;
    width: 300px;
    height: 250px;
    justify-content: space-between;
}
.bpm-display {
    width: 100px;
    text-align: center;
    color:#fa545c;
    font-weight: bold;
}
.bpm-display .tempo {
    font-size: 4em;
}
.tempo-text {
    font-size: .8em;
    text-transform: uppercase;
    text-align: center;
}
.tempo-settings {
    display: flex;
    justify-content: space-between;
}
.tempo-settings .adjust-tempo-btn {
    width: 30px;
    height: 50px;
    font-size: 40px;
    border-radius: 50%;
    border:1px solid #ddd;
    text-align: center;
    cursor: pointer;
}
